<VirtualHost *:80>
  ServerName www.case-study.internal

  # Redirect all requests to HTTPS
  RewriteEngine On
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Defense against Slowloris attacks
  LimitRequestBody 102400

  # Log Files
  ErrorLog /var/log/httpd/www.case-study.internal-error.log
  CustomLog /var/log/httpd/www.case-study.internal-access.log combined
</VirtualHost>

 <VirtualHost *:443>
  ServerName www.case-study.internal

  ProxyPreserveHost On
  ProxyPass / http://{{ kubernetes_endpoint }}/ retry=0
  ProxyPassReverse / http://{{ kubernetes_endpoint }}/

  RequestHeader set Host "{{ kubernetes_endpoint }}"
  RequestHeader set X-Forwarded-For %{REMOTE_ADDR}s
  RequestHeader set X-Forwarded-Proto "https"


  # Defense against Slowloris attacks
  SSLSessionCacheTimeout 300
  LimitRequestBody 1048576
  LimitRequestFields 100
  LimitRequestFieldSize 8190
  LimitRequestLine 8190

  Timeout 15
  KeepAliveTimeout 15

  # SSL configuration
  SSLEngine on
 # SSLProtocol all -SSLv2
  SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5
  SSLCertificateFile "/etc/httpd/certs/www.case-study.internal.pem"
  SSLCertificateKeyFile "/etc/httpd/certs/www.case-study.internal.key"

  # Log Files
  ErrorLog /var/log/httpd/www.case-study.internal-error.log
  CustomLog /var/log/httpd/www.case-study.internal-access.log combined
</VirtualHost>

